@page "/components"

<Heading1 text="Test"></Heading1>
<Heading2 text="Test"></Heading2>
<Button></Button>
<Button content="Test" iconPosition=IconPosition.Left isPrimary="true"
        isToggle="false" cssClass="navbar" disabled="true" iconCss=""></Button>