@page "/help"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject MyStateContainer myStateContainer
@inject IEmailSenderService EmailSenderService
<PageTitle>Help</PageTitle>
<Heading1 text="Help"></Heading1>
<div class="row">
    <EditForm Model="mailRequest">
        <div class="form-row">
            <div class="col form-group">
                <label class="control-label">Email:</label>
                <SfTextBox Placeholder="Email"
                @bind-Value=@mailRequest.ToEmail></SfTextBox>
                <ValidationMessage For="@(() => mailRequest.ToEmail)"></ValidationMessage>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label class="control-label">Subject:</label>
                <SfTextBox Placeholder="Subject"
                @bind-Value=@mailRequest.Subject></SfTextBox>
                <ValidationMessage For="@(() => mailRequest.Subject)"></ValidationMessage>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label class="control-label">Body:</label>
                <SfTextBox Placeholder="Body" Multiline="true"
                @bind-Value=@mailRequest.Body></SfTextBox>
                <ValidationMessage For="@(() => mailRequest.Body)"></ValidationMessage>
            </div>
        </div>
        <SfButton OnClick="SendMail" Content="Send"></SfButton>
    </EditForm>
</div>
<div class="@cssClassSentMessage">
    <InformationMessage text="Your message has been sent. You will hear from us soon."></InformationMessage>
</div>
<div class="row">
    <div class="col">
@*         test soporte, tiempo real, teléfono. Icono de helpdesk o mejor una foto mía profesional y presentarme como desarrollador y agente de soporte. 
 *@ </div>
    <div class="col">
        @* formas de contacto en formato texto *@
    </div>
    <div class="col">
        @* buy me a coffe? no apropiado... hasta que tenga FAQs? social icons?*@
    </div>
</div>
@code {
    private EditContext editContext;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [Inject]
    UserManager<ApplicationUser> userManager { get; set; }
    MailRequest mailRequest = new MailRequest();
    ApplicationUser? user;
    private bool emailSent = false;
    string cssClassSentMessage = "hide";

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(mailRequest);
    }
    // private void SendMail()
    // {
    //     EmailSenderService.SendEmailAsync(mailRequest);
    // } //This point is reached even when the address does not exist because is reached before executing SendEmailAsync

    private async void SendMail()
    {
        await EmailSenderService.SendEmailAsync(mailRequest);
        emailSent = true;
        if (emailSent)
        {
            cssClassSentMessage = "show-message";
            StateHasChanged();
        }
    } 
}
<style>
    .hide {
        display: none;
    }

    .show-message {
        max-width: fit-content;
    }
</style>