<div class="row flex-grid e-cards">
    @if(userList.Count == 0)
    {
        <p>
            There are no teachers available for your search query.
        </p>
    }
    else
    {
        @foreach (ApplicationUser user in userList)
        {
            <CascadingValue Value="user" Name="User">
                <UserCard></UserCard>
            </CascadingValue>
        }
    }
</div>
@code {
    [CascadingParameter(Name = "UsersList")]
    private List<ApplicationUser> userList { get; set; }
    [CascadingParameter(Name = "User")]
    ApplicationUser? user { get; set; }
}

<style>
</style>