@inject NavigationManager navigationManager

<div class="col" id="User_@(user.Id)">
    <SfCard ID="" CssClass="user-card">
        <CardImage Image="@userImagePath" />
        <CardHeader Title="@user.Firstname" SubTitle=@(user.Speciality + ", " + user.Province)></CardHeader>
    <CardContent>
        <strong>@user.Price €</strong> hora
    </CardContent>
    <CardFooter>
        <SfButtonGroup>
            <ButtonGroupButton>Contact</ButtonGroupButton>
            <ButtonGroupButton>See details</ButtonGroupButton>
            <ButtonGroupButton>Add to favorites</ButtonGroupButton>
        </SfButtonGroup>
    </CardFooter>
</SfCard>
</div>

@code {
    [CascadingParameter(Name = "User")]
    ApplicationUser? user { get; set; }
    string userImagePath { get; set; }
    private string baseUri { get; set; }

    protected override async Task OnInitializedAsync()
    {
        baseUri = navigationManager.BaseUri;
        userImagePath = baseUri + "img/users/" + user.Id + ".jpg";// "img/logo.png"
    }
}

<style>
    .e-card{
        border: none;
        transition: all 0.5s ease-in-out;
        transform: scale(1);

    }
    .e-card:hover{
        transform: scale(1.03);
        box-shadow: 2px 4px 4px #777;
    }
    .e-card .e-card-image{
        min-height: 200px;
        border-radius: 4px;
    }
</style>
